.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 1rem;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #3b3b4f;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #57576e;
}
